body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    /* background-image: url('../assets/window/bg.jpg'); */
    /* background-repeat: repeat;
    background-attachment: fixed; */
    /* background-size: 25%; */
    background-color: white;
}

#canvas-container {
    width: 640px;
    height: 320px;
    inset: 0;
}

#game {
    /* width: 100%;
    height: 100%; */
    /* position: ; */
    border: 4px solid black;
}

.grid-container {
    height: 100%;
    width: 100%;
    /* background-color: darkorchid; debugging */
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: 15% 50% auto;
    gap: 1rem;
    /* grid-auto-rows: minmax(100px, auto); */
    inset: 0;
}

.top {
    inset: 0;
    /* background-color: rgb(207, 207, 207); */
    align-items: center;
    grid-column: 1/4;
    overflow: hidden;
    position: relative;
}

.top img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.left {
    /* background-color: rgb(207, 207, 207); */
    align-items: center;
    overflow: hidden;
    position: relative;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.center {
    text-align: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
    /* background-color: rgb(207, 207, 207); */
}

.right {
    background-color: rgb(207, 207, 207);
}

.bottom {
    inset: 0;
    grid-column: 1/4;
    overflow: hidden;
    position: relative;
    background-color: rgb(207, 207, 207);
}

.bottom img {
    width: 100%;
    height: 100%;
    align-items: center;
}